header.header
    .header__columm
        a(href=routes.home)
            i.fab.fa-youtube
    .header__column
        form(action = routes.search, method ="get")
            input(type = "text",placeholder="검색어를 입력하세요.",name = "term")
    .header__columm
        ul
            if !user.isAuthenticated
                li 
                    a(href=routes.join) Join
                li 
                    a(href=routes.login) Log In
            else
                li 
                    a(href=`/videos${routes.upload}`) Upload
                li
                    a(href=routes.userDetail(user.id)) Profile
                li
                    a(href=routes.logout) Log Out